# dotfiles except allowed
.*
!.gitignore
!.gitattributes
!.editorconfig
!.eslintrc.yml
!.eslintignore
!.prettierignore
!.sass-lint.yml
!.travis.yml
!.babelrc

# dependencies
node_modules/

# build output
lib/
coverage/

# lock files
yarn.lock

# log files
*.log
